.devKit-menu li {
    display: inline-block;
    margin: 0 20px;
    padding: 15px 0;
}

.devKit-menu li:first-child {
    margin-left: 0;
}

.devKit-menu li:last-child {
    margin-right: 0;
}

.devKit-menu li a {
    color: #fff;
}
